<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="E2E Test Suit">

    <!-- Add Allure listener to enable allure-results -->
    <listeners>
        <listener class-name="listeners.AllureListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Welcome Screen Test">
        <classes>
            <class name="tests.welcomeScreensTest.WelcomeScreensTest"/>
        </classes>
    </test>

    <test name="Income Screen Test">
        <classes>
            <class name="tests.incomeScreenTest.IncomeScreenTest"/>
        </classes>
    </test>

    <test name="Expense Screen Test">
        <classes>
            <class name="tests.expenseScreenTest.ExpenseScreenTest"/>
        </classes>
    </test>
    <test name="Balance Detail Screen Test">
        <classes>
            <class name="tests.balanceDetailScreenTest.BalanceDetailScreenTest"/>
        </classes>
    </test>
</suite>